ion-card.card-list{
    padding: 18px;
    background: #2a2a2fcc;
    color: antiquewhite;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    ion-col{
        display: flex;        
        justify-content: center;
        flex-direction: column;
        ion-icon{
            font-size: 15vw;
        }
    }
}
