@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap');
*{
    font-family: 'Muli', sans-serif;
}
body{
    background: #ffffff;
}
main{
    background: black;
}