<ion-content fullscreen="true" class="bgi-solid-blue">
  <ion-header>
    <ion-toolbar color="transparent">
      <ion-buttons slot="end">
        <ion-button (click)="goToHome()" >
          <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
        </ion-button>        
      </ion-buttons>
      <ion-title color="light">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="bg-transparent ion-padding">
    <ion-list class="bg-transparent">
      <ng-container *ngFor="let item of menu" >
        <ion-item (click)="redirect(item.url)"  color="transparent" class="white-font">{{item.title}}</ion-item>
      </ng-container>      
    </ion-list>
  </ion-content>
</ion-content>
