<ion-header>
  <ion-toolbar class="bgi-solid-blue">
    <ion-buttons slot="start">      
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Add your goal</ion-title>
  </ion-toolbar>
</ion-header>
<span class="full-w line bg-gradient-orange"></span>
<ion-content class="ion-padding bgi-solid-blue">  
  <form style="display: contents;">
    <h3 class="full-w white-font text-center">New Goal</h3>
    <ion-card class="p-1">
      <ion-list>
        <ion-item>
          <ion-label>Type of goal</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Travel</ion-select-option>
            <ion-select-option value="blonde">Do something</ion-select-option>
            <ion-select-option value="black">Buy something</ion-select-option>
            <ion-select-option value="red">Save money</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mount</ion-label>
          <ion-input clearInput value="" placeholder="$"></ion-input>
        </ion-item>
        <ion-button size="sm" class="bgi-gradient-orange m-2 float-r" (click)="addGoal()"  >Add</ion-button>
      </ion-list>
    </ion-card>
  </form>
</ion-content>
