<ion-content fullscreen="true">
  <ion-header>
    <ion-toolbar class="bgi-gradient-orange">      
      <ion-title color="light">All details</ion-title>
      <ion-buttons slot="end">      
        <ion-button color="light" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>    
  </ion-header>
  <ion-list class="full-w m-0 p-0 ">
    <ion-item color="transparent" class="full-w" lines="none">            
      <ion-label class="font-small">Real Madrid</ion-label>              
      <ion-label class="font-small text-center">Gol <ion-badge color="danger">5</ion-badge></ion-label>              
      <ion-badge slot="end" color="success">$22,00</ion-badge>
    </ion-item>
    <ion-item color="transparent" class="full-w" lines="none">            
      <ion-label class="font-small">Real Madrid</ion-label>              
      <ion-label class="font-small text-center">Gol <ion-badge color="danger">5</ion-badge></ion-label>              
      <ion-badge slot="end" color="success">$22,00</ion-badge>
    </ion-item>
    <ion-item color="transparent" class="full-w" lines="none">            
      <ion-label class="font-small">Real Madrid</ion-label>              
      <ion-label class="font-small text-center">Gol <ion-badge color="danger">5</ion-badge></ion-label>              
      <ion-badge slot="end" color="success">$22,00</ion-badge>
    </ion-item>
    <ion-item color="transparent" class="full-w" lines="none">            
      <ion-label class="font-small">Real Madrid</ion-label>              
      <ion-label class="font-small text-center">Gol <ion-badge color="danger">5</ion-badge></ion-label>              
      <ion-badge slot="end" color="success">$22,00</ion-badge>
    </ion-item>            
  </ion-list> 
</ion-content>
