<ion-header>
  <ion-toolbar class="bgi-solid-blue">
    <ion-buttons slot="start">      
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Rules list</ion-title>
  </ion-toolbar>
  <ion-toolbar class="bg-transparent">    
    <ion-title color="light" size="small">Here you can visualize your goals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bgi-solid-blue ion-padding">       
   <ion-title size="large" color="light">Your rules</ion-title>
   <ion-list class="full-w bg-transparent">    
    <ion-item lines="none" color="transparent">
      <ion-card class="full-w card-list">
        <span>
          <ion-icon name="football"></ion-icon>
        </span>
        <section>
          <strong>Nombre del equipo</strong>
          <small class="d-block">Regla</small>
          <strong class="d-block">$50,00</strong>
        </section>
      </ion-card>
    </ion-item>
    <ion-item lines="none" color="transparent">
      <ion-card class="full-w card-list">
        <span>
          <ion-icon name="football"></ion-icon>
        </span>
        <section>
          <strong>Nombre del equipo</strong>
          <small class="d-block">Regla</small>
          <strong class="d-block">$50,00</strong>
        </section>
      </ion-card>
    </ion-item>
    <ion-item lines="none" color="transparent">
      <ion-card class="full-w card-list">
        <span>
          <ion-icon name="football"></ion-icon>
        </span>
        <section>
          <strong>Nombre del equipo</strong>
          <small class="d-block">Regla</small>
          <strong class="d-block">$50,00</strong>
        </section>
      </ion-card>
    </ion-item>
    <ion-item lines="none" color="transparent">
      <ion-card class="full-w card-list">
        <span>
          <ion-icon name="football"></ion-icon>
        </span>
        <section>
          <strong>Nombre del equipo</strong>
          <small class="d-block">Regla</small>
          <strong class="d-block">$50,00</strong>
        </section>
      </ion-card>
    </ion-item>
    <ion-item lines="none" color="transparent">
      <ion-card class="full-w card-list">
        <span>
          <ion-icon name="football"></ion-icon>
        </span>
        <section>
          <strong>Nombre del equipo</strong>
          <small class="d-block">Regla</small>
          <strong class="d-block">$50,00</strong>
        </section>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-card class="card-notification mt-3">
      <span>
        <ion-icon name="information-circle-outline"></ion-icon>
        <strong>You have not added rules yet.</strong>
      </span>
    </ion-card>
</ion-content>
