<ion-header>
  <ion-toolbar class="bgi-solid-blue">
    <ion-buttons slot="start">      
      <ion-button (click)="goToHome()"  color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Rules list</ion-title>
  </ion-toolbar>
  <ion-toolbar class="bg-transparent">    
    <ion-title color="light" size="small">Here you can visualize your goals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bgi-solid-blue ion-padding">       
   <ion-title size="large" color="light">Your rules</ion-title>
   <ion-list class="full-w bg-transparent" *ngIf="rules.length > 0" >    
    <ng-container *ngFor="let ruler of rules" >
      <app-rules-list-card [ruler]="ruler"></app-rules-list-card>
    </ng-container>
  </ion-list>


  <ng-container *ngIf="rules.length == 0" >
    <app-no-register-yet [componentName]="'rules'"></app-no-register-yet>
  </ng-container>


  
</ion-content>

<ion-footer>
  <ion-button (click)="goToNewRuler()"  class="bgi-gradient-orange" size="medium" expand="block"> 
    New Ruler
  </ion-button>
</ion-footer>
