<ion-header>
  <ion-toolbar class="bgi-solid-blue">
    <ion-buttons slot="secondary">      
      <ion-button color="light">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="bgi-solid-blue">
    <span class="mount">
      <small>Mi total acumulado</small>
      <h3>$125.000,00</h3>
      <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
    </span>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card class="bg-gradient-orange">
          <ion-item lines="none" color="transparent">
            <ion-icon name="ribbon" slot="start" color="light"></ion-icon>            
            <ion-button fill="outline" slot="end" color="light"></ion-button>
          </ion-item>
          <ion-item lines="none" color="transparent">
            <h1 class="white-font">$5000,00</h1>
          </ion-item>     
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="bg-gradient-purple">
          <ion-item lines="none" color="transparent">
            <ion-icon name="ribbon" slot="start" color="light"></ion-icon>            
            <ion-button fill="outline" slot="end" color="light"></ion-button>
          </ion-item>
          <ion-item lines="none" color="transparent">
            <h1 class="white-font">$5000,00</h1>
          </ion-item>     
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="bg-gradient-pink">
          <ion-item lines="none" color="transparent">
            <ion-icon name="ribbon" slot="start" color="light"></ion-icon>            
            <ion-button fill="outline" slot="end" color="light"></ion-button>
          </ion-item>
          <ion-item lines="none" color="transparent">
            <h1 class="white-font">$5000,00</h1>
          </ion-item>     
        </ion-card>
      </ion-slide>
    </ion-slides>
    <h3 class="white-font">Mis metas</h3>
    <ion-list class="bg-transparent">
      <ion-item lines="none" color="transparent" class="goal">
        <ion-card class="text-center  goals">
          <strong>Viajar <ion-icon name="airplane"></ion-icon></strong>
          <small class="d-block mt-3">26/05/2020</small>
          <h5>$5000,00</h5>
        </ion-card>
      </ion-item>  
      <ion-item lines="none" color="transparent" class="goal">
        <ion-card class="text-center  goals">
          <strong>Viajar <ion-icon name="airplane"></ion-icon></strong>
          <small class="d-block mt-3">26/05/2020</small>
          <h5>$5000,00</h5>
        </ion-card>
      </ion-item> 
      <ion-item lines="none" color="transparent" class="goal">
        <ion-card class="text-center  goals">
          <strong>Viajar <ion-icon name="airplane"></ion-icon></strong>
          <small class="d-block mt-3">26/05/2020</small>
          <h5>$5000,00</h5>
        </ion-card>
      </ion-item> 
      <ion-item lines="none" color="transparent" class="goal">
        <ion-card class="text-center  goals">
          <strong>Viajar <ion-icon name="airplane"></ion-icon></strong>
          <small class="d-block mt-3">26/05/2020</small>
          <h5>$5000,00</h5>
        </ion-card>
      </ion-item> 
      <ion-item lines="none" color="transparent" class="goal">
        <ion-card class="text-center  goals">
          <strong>Viajar <ion-icon name="airplane"></ion-icon></strong>
          <small class="d-block mt-3">26/05/2020</small>
          <h5>$5000,00</h5>
        </ion-card>
      </ion-item> 
      <ion-item lines="none" color="transparent" class="goal">
        <ion-card class="text-center  goals">
          <ion-button><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
          <small class="d-block mt-3">26/05/2020</small>
          
        </ion-card>
      </ion-item> 
    </ion-list>
</ion-content>
