<ion-header>
  <ion-toolbar class="bgi-solid-blue">
    <ion-buttons slot="secondary">
      <ion-button color="light" (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="bgi-solid-blue">
  <ng-container>
    <app-home-progress></app-home-progress>
  </ng-container>
  <ng-container>
    <app-home-slide [detailsArray]="detailsArray"></app-home-slide>
  </ng-container>
  <ng-container>
    <app-home-details [rulesArray]="rulesArray"></app-home-details>
  </ng-container>



</ion-content>